/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../sass/screen.scss */
body {
  background-color: #f7ebd7;
}

/* main colors */
/* main fonts */
/* main dimention */
/* Header */
/* line 27, ../../sass/screen.scss */
video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-filter: grayscale(0.6) sepia(0.6);
}

/* line 43, ../../sass/screen.scss */
.loader-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #191919;
}

/* line 55, ../../sass/screen.scss */
.loader {
  margin: 35% auto 15px auto;
  font-size: 10px;
  position: relative;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

/* line 70, ../../sass/screen.scss */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 98, ../../sass/screen.scss */
.header-background {
  height: 500px;
  margin: 0 auto;
  background-image: url("../images/header/header.jpg");
  background-repeat: no-repeat;
  background-size: auto 640px;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* line 111, ../../sass/screen.scss */
.welcome {
  display: block;
  height: 300px;
  text-align: center;
  max-width: 750px;
  position: fixed;
  z-index: -4;
  -webkit-transform: translateX(-70%) scale(1);
  transform: translateX(-70%) scale(1);
  top: 160px;
  left: 50%;
  bottom: 0;
  right: 0;
  font-family: "Bree Serif", serif;
  font-size: 4rem;
  color: #efe4c5;
  text-shadow: 3px 3px 1px #141a21;
  -webkit-animation: welcome 1s alternate 1 cubic-bezier(0.49, 1.99, 0.58, 1);
  animation: welcome 1s alternate 1 cubic-bezier(0.49, 1.99, 0.58, 1);
}

@-webkit-keyframes welcome {
  0% {
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }
  100% {
    -webkit-transform: translateX(-70%) scale(1);
    transform: translateX(-70%) scale(1);
  }
}
@keyframes welcome {
  0% {
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }
  100% {
    -webkit-transform: translateX(-70%) scale(1);
    transform: translateX(-70%) scale(1);
  }
}
/* line 154, ../../sass/screen.scss */
.mountain-top {
  height: 98px;
  width: 960px;
  margin-left: -480px;
  -webkit-transform: translateY(-95px);
  transform: translateY(-95px);
  background-image: url("../images/header/mountain01.png");
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 50%;
  right: 50%;
  bottom: 0;
}

/* line 169, ../../sass/screen.scss */
.mountain02 {
  height: 253px;
  width: 500px;
  background-image: url("../images/header/mountain02.png");
  background-repeat: no-repeat;
  -webkit-transform: translate(-250px, 0px);
  transform: translate(-250px, 0px);
  position: absolute;
  z-index: -2;
  margin-left: -230px;
  top: 65%;
  left: 50%;
  right: 50%;
  bottom: 0;
}

/* line 185, ../../sass/screen.scss */
.mountain03 {
  height: 264px;
  width: 578px;
  background-image: url("../images/header/mountain03.png");
  background-repeat: no-repeat;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  position: absolute;
  z-index: -3;
  margin-left: -230px;
  top: 65%;
  left: 50%;
  right: 50%;
  bottom: 0;
}

/* line 201, ../../sass/screen.scss */
.nav-mobile-btn {
  display: none;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: fixed;
  z-index: 15;
  height: 70px;
  max-width: 960px;
  margin: 0 auto;
  padding: 5px 25px 0 0;
  box-sizing: border-box;
  top: 0;
  left: auto;
  right: 0;
}
/* line 223, ../../sass/screen.scss */
.nav-mobile-btn:hover span:nth-child(1) {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
/* line 230, ../../sass/screen.scss */
.nav-mobile-btn:hover span:nth-child(3) {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* line 239, ../../sass/screen.scss */
.nav-mobile-btn span {
  width: 30px;
  height: 8px;
  display: block;
  border-radius: 5px;
  background-color: #33223d;
  box-shadow: 1px 1px white;
  margin: 2px;
}

/* line 249, ../../sass/screen.scss */
.nav-mobile {
  display: none;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  background-color: rgba(243, 243, 243, 0.4);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  max-width: 960px;
  margin: 0 auto;
}

/* line 265, ../../sass/screen.scss */
.nav-mobile ul {
  font-family: "Bree Serif", serif;
  color: white;
  text-shadow: 2px 1px 0.5px #323232;
}

/* line 271, ../../sass/screen.scss */
.nav-mobile ul li {
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* line 277, ../../sass/screen.scss */
.nav-mobile ul li a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 1px 0.5px #323232;
}

/* line 283, ../../sass/screen.scss */
.nav-mobile ul li a:hover {
  color: #323232;
  text-shadow: 2px 1px 0.5px white;
}

/* line 288, ../../sass/screen.scss */
.nav-mobile ul li a.active {
  color: #323232;
  text-shadow: 2px 1px 0.5px white;
}

/* line 293, ../../sass/screen.scss */
.nav {
  height: 80px;
  max-width: 960px;
  margin: 0 auto;
  background-image: url("../images/header/grunge-header.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}

/* line 316, ../../sass/screen.scss */
.site-logo {
  margin-right: auto;
  margin-left: 25px;
}

/* line 321, ../../sass/screen.scss */
.site-logo img {
  width: 40px;
  height: 40px;
}

/* line 326, ../../sass/screen.scss */
.nav ul {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Bree Serif", serif;
  color: white;
  text-shadow: 2px 1px 0.5px #323232;
}

/* line 336, ../../sass/screen.scss */
.nav ul li {
  padding: 20px;
}

/* line 340, ../../sass/screen.scss */
.nav ul li a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 1px 0.5px #323232;
}

/* line 346, ../../sass/screen.scss */
.nav ul li a:hover {
  color: #323232;
  text-shadow: 2px 1px 0.5px white;
}

/* line 351, ../../sass/screen.scss */
.nav ul li a.active {
  color: #323232;
  text-shadow: 2px 1px 0.5px white;
}

/* Body */
/* line 356, ../../sass/screen.scss */
.body {
  max-width: 960px;
  margin: 0 auto -80px;
  background-image: url("../images/body/tile_body.png");
  position: relative;
  z-index: 0;
}

/* Body menu */
/* line 364, ../../sass/screen.scss */
.menu-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #8e7427;
}

/* line 374, ../../sass/screen.scss */
.menu-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
}

/* line 384, ../../sass/screen.scss */
.menu-body ul li {
  padding: 0 35px;
  text-align: center;
}
/* line 388, ../../sass/screen.scss */
.menu-body ul li:hover {
  box-shadow: 0 28px 5px -28px #8e7427;
}

/* line 393, ../../sass/screen.scss */
.menu-body ul li.active {
  box-shadow: 0 28px 5px -28px #8e7427;
}

/* Buttons menu */
/* line 399, ../../sass/screen.scss */
.orange-button {
  height: 32px;
  width: 85px;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  background-image: url("../images/body/button_add.png");
  background-size: contain;
  font-family: "Teko", sans-serif;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 414, ../../sass/screen.scss */
.orange-button:hover {
  color: #323232;
}

/* line 419, ../../sass/screen.scss */
.grey-button {
  height: 32px;
  width: 56px;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  background-image: url("../images/body/button_view.png");
  background-size: contain;
  font-family: "Teko", sans-serif;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 434, ../../sass/screen.scss */
.grey-button:hover {
  color: #d9c075;
}

/* Body articles */
/* line 441, ../../sass/screen.scss */
.article-selected-background {
  /*height: auto;*/
  position: relative;
  z-index: 0;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

/* line 449, ../../sass/screen.scss */
.article-selected {
  position: relative;
  height: auto;
  max-width: 960px;
  margin: 0 auto;
}

/* line 458, ../../sass/screen.scss */
.article-loader {
  height: auto;
  margin: 0 auto;
  background-color: #141a21;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

/* line 471, ../../sass/screen.scss */
.opened {
  animation: loader 1200ms 1 alternate linear;
}

@keyframes loader {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 480, ../../sass/screen.scss */
.compass-dir {
  height: 80px;
  width: 80px;
  background-image: url("../images/loader/compass_dir.svg");
  background-size: contain;
  margin: 100px auto;
  position: absolute;
  top: 0;
  left: auto;
  animation: compass 2s ease-in-out infinite;
}

@keyframes compass {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 503, ../../sass/screen.scss */
.compass {
  height: 80px;
  width: 80px;
  background-image: url("../images/loader/compass.svg");
  background-size: contain;
  margin: 100px auto;
}

/* line 511, ../../sass/screen.scss */
.article-opened {
  background-color: #1a222c;
  height: auto;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 533, ../../sass/screen.scss */
.article-selected-close {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 10px 30px 0 0;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  background-color: #141a21;
  border-radius: 50%;
}

/* line 550, ../../sass/screen.scss */
.article-selected-close:hover {
  background-color: white;
  color: #141a21;
}

/* line 555, ../../sass/screen.scss */
.article-select-focus {
  height: 250px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 30px;
}

/* line 563, ../../sass/screen.scss */
.article-select-desc {
  max-width: 450px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 250px;
  flex: 1 1 250px;
  margin: 0 15px 25px;
}

/* line 571, ../../sass/screen.scss */
.article-select-desc h3 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  color: #8e7427;
}

/* line 577, ../../sass/screen.scss */
.article-select-desc > p {
  font-family: "Teko", sans-serif;
  font-size: 1.2rem;
  color: white;
}

/* line 583, ../../sass/screen.scss */
.article-select-desc .price {
  font-family: "Bree Serif", serif;
  color: #8e7427;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-shadow: 1px 1px 1px black;
}

/* line 591, ../../sass/screen.scss */
.articles {
  margin: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 602, ../../sass/screen.scss */
.article {
  height: 200px;
  width: 180px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  color: #4d4d4d;
  cursor: pointer;
}

/* line 613, ../../sass/screen.scss */
.article:hover {
  background-image: url("../images/body/cadre.png");
  background-repeat: no-repeat;
  background-position: center -10px;
}

/* line 619, ../../sass/screen.scss */
.article .price {
  color: #8e7427;
  font-size: 1.3rem;
  margin: 5px 0;
}

/* Body article promo & blog */
/* line 625, ../../sass/screen.scss */
.article-more {
  margin: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  z-index: 2;
}

/* line 638, ../../sass/screen.scss */
.blog-info {
  height: 300px;
  width: 400px;
  position: relative;
}

/* line 644, ../../sass/screen.scss */
.blog-info img {
  height: inherit;
  width: inherit;
  -o-object-fit: contain;
  object-fit: contain;
}

/* line 651, ../../sass/screen.scss */
.blog-info .blog-link {
  width: 75%;
  position: absolute;
  top: 25%;
  left: 10%;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  color: #8e7427;
  font-size: 1.4rem;
  text-shadow: 1px 1px #000;
}

/* line 663, ../../sass/screen.scss */
.blog-info .blog-link button {
  margin: 20px 0;
}

/* line 667, ../../sass/screen.scss */
.article-promo {
  height: 250px;
  width: 350px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("../images/body/cadre-promo.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  position: relative;
}

/* line 682, ../../sass/screen.scss */
.art-promo-col1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
}

/* line 688, ../../sass/screen.scss */
.art-promo-col2 {
  position: absolute;
  top: 20%;
  left: 45%;
}

/* line 694, ../../sass/screen.scss */
.art-promo-col1 .hot-deal {
  font-family: "Teko", sans-serif;
  color: #8e7427;
  text-transform: uppercase;
}

/* line 700, ../../sass/screen.scss */
.art-promo-col1 .article-desc {
  margin-top: 8px;
  color: #2f394f;
  font-family: "Teko", sans-serif;
}

/* line 706, ../../sass/screen.scss */
.art-promo-col1 .article-category {
  font-family: "Bree Serif", serif;
  color: #323232;
  text-transform: uppercase;
}

/* line 712, ../../sass/screen.scss */
.art-promo-col1 .article-price {
  margin: 15px 0;
}

/* line 716, ../../sass/screen.scss */
.art-promo-col1 .price {
  font-family: "Bree Serif", serif;
  color: #8e7427;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 5px;
  text-shadow: 1px 1px 1px black;
}

/* line 725, ../../sass/screen.scss */
.art-promo-col1 .old-price {
  font-family: "Bree Serif", serif;
  color: #4d4d4d;
  font-size: 0.8rem;
  text-decoration: line-through;
  text-transform: uppercase;
}

/* line 733, ../../sass/screen.scss */
.art-promo-col2 img {
  height: 225px;
  -o-object-fit: contain;
  object-fit: contain;
}

/* Body Bottom Forest */
/* line 739, ../../sass/screen.scss */
.forest-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 343px;
  position: relative;
  bottom: 80px;
  background-image: url("../images/body/forest_bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

/* Footer */
/* line 752, ../../sass/screen.scss */
.footer {
  max-width: 960px;
  margin: 0 auto 120px;
  background-color: #1a222c;
  font-family: "Teko", sans-serif;
  color: #2f394f;
  position: relative;
  z-index: 0;
}

/* line 762, ../../sass/screen.scss */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 50px;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 0;
  text-transform: uppercase;
}

/* line 778, ../../sass/screen.scss */
.behind-input input {
  border-radius: 10px;
  height: 30px;
  width: 170px;
  padding-left: 10px;
  border: none;
  opacity: 0.2;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
}

/* line 789, ../../sass/screen.scss */
.news-letter,
.social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* line 800, ../../sass/screen.scss */
.news-letter h3,
.social-logos h3 {
  margin: 10px;
}

/* line 805, ../../sass/screen.scss */
.social-logos img {
  margin: 5px;
}

/* line 809, ../../sass/screen.scss */
.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 30px;
  font-family: "Bree Serif", serif;
}

/* line 821, ../../sass/screen.scss */
.infos h3 {
  margin: 15px 0;
  color: #fff;
}

/* line 826, ../../sass/screen.scss */
.infos li {
  font-size: 0.7rem;
}

/* line 830, ../../sass/screen.scss */
.extra-footer {
  background-color: #141a21;
  margin-top: 75px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

/* line 837, ../../sass/screen.scss */
.extra-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 60px;
}

/* line 852, ../../sass/screen.scss */
.extra-content h3 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: auto;
}

/* line 859, ../../sass/screen.scss */
.logo-extra-footer {
  height: 60px;
  width: 60px;
  margin: 10px;
  background-image: url("../images/footer/logo_w.png");
  background-size: 60px 60px;
}

@media screen and (min-width: 727px) and (max-width: 977px) {
  /* line 867, ../../sass/screen.scss */
  video {
    display: none;
  }

  /* line 871, ../../sass/screen.scss */
  .menu-body ul li {
    padding: 0 25px;
  }

  /* line 875, ../../sass/screen.scss */
  .article-more,
  .articles {
    margin: 50px 10px;
  }

  /* line 880, ../../sass/screen.scss */
  .article-more {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }

  /* line 885, ../../sass/screen.scss */
  .article-more .blog-info {
    height: 200px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  /* line 898, ../../sass/screen.scss */
  .blog-info .blog-link {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* line 909, ../../sass/screen.scss */
  .article-promo {
    width: 100%;
    margin: 15px auto;
    background-image: url("");
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #8e7427;
  }

  /* line 918, ../../sass/screen.scss */
  .art-promo-col2 {
    position: relative;
    top: 0;
    left: 10px;
  }

  /* line 924, ../../sass/screen.scss */
  .forest-bottom {
    bottom: 150px;
  }

  /* line 928, ../../sass/screen.scss */
  .body {
    margin: 0 auto -150px;
  }

  /* line 932, ../../sass/screen.scss */
  .social {
    margin: 0 10px;
  }

  /* line 936, ../../sass/screen.scss */
  .social p {
    display: none;
  }
}
@media screen and (min-width: 560px) and (max-width: 727px) {
  /* line 941, ../../sass/screen.scss */
  video {
    display: none;
  }

  /* line 945, ../../sass/screen.scss */
  .menu-body ul li {
    padding: 0 15px;
  }

  /* line 949, ../../sass/screen.scss */
  .article-more,
  .articles {
    margin: 50px 10px;
  }

  /* line 954, ../../sass/screen.scss */
  .forest-bottom {
    bottom: 180px;
  }

  /* line 958, ../../sass/screen.scss */
  .body {
    margin: 0 auto -180px;
  }

  /* line 962, ../../sass/screen.scss */
  .social {
    margin: 0 50px;
  }

  /* line 966, ../../sass/screen.scss */
  .social p {
    display: none;
  }

  /* line 970, ../../sass/screen.scss */
  .behind-input input {
    width: 130px;
  }
}
@media screen and (min-width: 320px) and (max-width: 560px) {
  /* line 975, ../../sass/screen.scss */
  video {
    display: none;
  }

  /* line 979, ../../sass/screen.scss */
  .header-background h1 {
    font-size: 3rem;
  }

  /* line 983, ../../sass/screen.scss */
  .menu-body ul li {
    padding: 0 28px;
    margin: 10px auto;
  }

  /* line 988, ../../sass/screen.scss */
  .nav-mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 994, ../../sass/screen.scss */
  .nav-mobile-btn.open span:nth-child(1) {
    -webkit-transform: translateY(14px) rotate(135deg);
    transform: translateY(14px) rotate(135deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  /* line 1001, ../../sass/screen.scss */
  .nav-mobile-btn.open span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  /* line 1009, ../../sass/screen.scss */
  .nav-mobile-btn.open span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-135deg);
    transform: translateY(-10px) rotate(-135deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  /* line 1016, ../../sass/screen.scss */
  .nav-mobile-toggle {
    display: block;
    -webkit-animation: toggleNav 500ms alternate 1 ease-in-out;
    animation: toggleNav 500ms alternate 1 ease-in-out;
  }

  @-webkit-keyframes toggleNav {
    0% {
      -webkit-transform: translateY(-220px);
      transform: translateY(-220px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  @keyframes toggleNav {
    0% {
      -webkit-transform: translateY(-220px);
      transform: translateY(-220px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  /* line 1044, ../../sass/screen.scss */
  .nav {
    background-image: url("");
  }

  /* line 1048, ../../sass/screen.scss */
  .nav ul {
    display: none;
  }

  /* line 1052, ../../sass/screen.scss */
  .article-more,
  .articles {
    margin: 50px 5px;
  }

  /* line 1057, ../../sass/screen.scss */
  .blog-info {
    height: 200px;
    width: 300px;
  }

  /* line 1062, ../../sass/screen.scss */
  .art-promo-col2 {
    left: 55%;
  }

  /* line 1066, ../../sass/screen.scss */
  .art-promo-col2 img {
    height: 155px;
  }

  /* line 1070, ../../sass/screen.scss */
  .article-promo {
    margin: 15px auto;
    background-image: url("");
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #8e7427;
  }

  /* line 1078, ../../sass/screen.scss */
  .forest-bottom {
    bottom: 180px;
  }

  /* line 1082, ../../sass/screen.scss */
  .body {
    margin: 0 auto -180px;
  }

  /* line 1086, ../../sass/screen.scss */
  .social {
    margin: 0 10px;
  }

  /* line 1090, ../../sass/screen.scss */
  .social p {
    display: none;
  }

  /* line 1094, ../../sass/screen.scss */
  .behind-input input {
    width: 130px;
  }

  /* line 1098, ../../sass/screen.scss */
  .infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    font-family: "Bree Serif", serif;
    width: 70%;
    margin: 0 auto;
  }

  /* line 1116, ../../sass/screen.scss */
  .extra-content {
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
  }

  /* line 1126, ../../sass/screen.scss */
  .extra-content h3 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 5px;
  }

  /* line 1134, ../../sass/screen.scss */
  .infos h3 {
    width: 125px;
  }
}
