/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../sass/screen.scss */
body {
  background-color: #f7ebd7;
}

/* main colors */
/* main fonts */
/* main dimention */
/* Header */
/* line 29, ../../sass/screen.scss */
video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-filter: grayscale(0.6) sepia(0.6);
}

/* line 43, ../../sass/screen.scss */
.header-background {
  height: 500px;
  margin: 0 auto;
  background-image: url("../images/header/header.jpg");
  background-repeat: no-repeat;
  background-size: auto 640px;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* line 56, ../../sass/screen.scss */
.welcome {
  display: block;
  height: 300px;
  text-align: center;
  max-width: 750px;
  position: fixed;
  z-index: -4;
  transform: translateX(-70%) scale(1);
  top: 160px;
  left: 50%;
  bottom: 0;
  right: 0;
  font-family: "Bree Serif", serif;
  font-size: 4rem;
  color: #efe4c5;
  text-shadow: 3px 3px 1px #141a21;
  animation: welcome 1s alternate 1 cubic-bezier(0.49, 1.99, 0.58, 1);
}

@keyframes welcome {
  0% {
    transform: translateX(0px) scale(1);
  }
  100% {
    transform: translateX(-70%) scale(1);
  }
}
/* line 84, ../../sass/screen.scss */
.mountain-top {
  height: 98px;
  width: 960px;
  margin-left: -480px;
  transform: translateY(-95px);
  background-image: url("../images/header/mountain01.png");
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 50%;
  right: 50%;
  bottom: 0;
}

/* line 98, ../../sass/screen.scss */
.mountain02 {
  height: 253px;
  width: 500px;
  background-image: url("../images/header/mountain02.png");
  background-repeat: no-repeat;
  transform: translate(-250px, 0px);
  position: absolute;
  z-index: -2;
  margin-left: -230px;
  top: 65%;
  left: 50%;
  right: 50%;
  bottom: 0;
}

/* line 113, ../../sass/screen.scss */
.mountain03 {
  height: 264px;
  width: 578px;
  background-image: url("../images/header/mountain03.png");
  background-repeat: no-repeat;
  transform: translateX(-250px);
  position: absolute;
  z-index: -3;
  margin-left: -230px;
  top: 65%;
  left: 50%;
  right: 50%;
  bottom: 0;
}

/* line 128, ../../sass/screen.scss */
.nav-mobile-btn {
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  z-index: 15;
  height: 70px;
  max-width: 960px;
  margin: 0 auto;
  padding: 5px 25px 0 0;
  box-sizing: border-box;
  top: 0;
  left: auto;
  right: 0;
}
/* line 146, ../../sass/screen.scss */
.nav-mobile-btn:hover span:nth-child(1) {
  transform: translateY(-5px);
  transition: 0.5s ease-in-out;
}
/* line 150, ../../sass/screen.scss */
.nav-mobile-btn:hover span:nth-child(3) {
  transform: translateY(5px);
  transition: 0.5s ease-in-out;
}

/* line 157, ../../sass/screen.scss */
.nav-mobile-btn span {
  width: 30px;
  height: 8px;
  display: block;
  border-radius: 5px;
  background-color: #33223d;
  box-shadow: 1px 1px white;
  margin: 2px;
}

/* line 169, ../../sass/screen.scss */
.nav-mobile {
  display: none;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  background-color: rgba(243, 243, 243, 0.4);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  max-width: 960px;
  margin: 0 auto;
}

/* line 185, ../../sass/screen.scss */
.nav-mobile ul {
  font-family: "Bree Serif", serif;
  color: white;
  text-shadow: 2px 1px 0.5px #323232;
}

/* line 191, ../../sass/screen.scss */
.nav-mobile ul li {
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* line 197, ../../sass/screen.scss */
.nav-mobile ul li a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 1px 0.5px #323232;
}

/* line 203, ../../sass/screen.scss */
.nav-mobile ul li a:hover {
  color: #323232;
  text-shadow: 2px 1px 0.5px white;
}

/* line 208, ../../sass/screen.scss */
.nav-mobile ul li a.active {
  color: #323232;
  text-shadow: 2px 1px 0.5px white;
}

/* line 213, ../../sass/screen.scss */
.nav {
  height: 80px;
  max-width: 960px;
  margin: 0 auto;
  background-image: url("../images/header/grunge-header.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}

/* line 228, ../../sass/screen.scss */
.site-logo {
  margin-right: auto;
  margin-left: 25px;
}

/* line 233, ../../sass/screen.scss */
.site-logo img {
  width: 40px;
  height: 40px;
}

/* line 238, ../../sass/screen.scss */
.nav ul {
  display: flex;
  font-family: "Bree Serif", serif;
  color: white;
  text-shadow: 2px 1px 0.5px #323232;
}

/* line 245, ../../sass/screen.scss */
.nav ul li {
  padding: 20px;
}

/* line 249, ../../sass/screen.scss */
.nav ul li a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 1px 0.5px #323232;
}

/* line 255, ../../sass/screen.scss */
.nav ul li a:hover {
  color: #323232;
  text-shadow: 2px 1px 0.5px white;
}

/* line 260, ../../sass/screen.scss */
.nav ul li a.active {
  color: #323232;
  text-shadow: 2px 1px 0.5px white;
}

/* Body */
/* line 265, ../../sass/screen.scss */
.body {
  max-width: 960px;
  margin: 0 auto -80px;
  background-image: url("../images/body/tile_body.png");
  position: relative;
  z-index: 0;
}

/* Body menu */
/* line 273, ../../sass/screen.scss */
.menu-body {
  display: flex;
  justify-content: center;
  color: #8e7427;
}

/* line 279, ../../sass/screen.scss */
.menu-body ul {
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
}

/* line 286, ../../sass/screen.scss */
.menu-body ul li {
  padding: 0 35px;
  text-align: center;
}

/* line 291, ../../sass/screen.scss */
.menu-body ul li.active {
  box-shadow: 0 28px 5px -28px #8e7427;
}

/* Body articles */
/* line 296, ../../sass/screen.scss */
.article-selected-background {
  position: relative;
  z-index: 0;
  transition: all 600ms ease-in-out;
}

/* line 303, ../../sass/screen.scss */
.article-selected {
  background-color: #1a222c;
  height: auto;
  max-width: 960px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
}

/* line 317, ../../sass/screen.scss */
.article-selected-close {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 10px 30px 0 0;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  background-color: #141a21;
  border-radius: 50%;
}

/* line 333, ../../sass/screen.scss */
.article-selected-close:hover {
  background-color: white;
  color: #141a21;
}

/* line 338, ../../sass/screen.scss */
.article-select-focus {
  height: 250px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 30px;
}

/* line 347, ../../sass/screen.scss */
.article-select-desc {
  max-width: 450px;
  flex: 1 1 250px;
  margin: 0 15px 25px;
}

/* line 353, ../../sass/screen.scss */
.article-select-desc h3 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  color: #8e7427;
}

/* line 359, ../../sass/screen.scss */
.article-select-desc > p {
  font-family: "Teko", sans-serif;
  font-size: 1.2rem;
  color: white;
}

/* line 365, ../../sass/screen.scss */
.article-select-desc .price {
  font-family: "Bree Serif", serif;
  color: #8e7427;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-shadow: 1px 1px 1px black;
}

/* line 373, ../../sass/screen.scss */
.articles {
  margin: 50px 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* line 380, ../../sass/screen.scss */
.article {
  height: 200px;
  width: 180px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  color: #4d4d4d;
  cursor: pointer;
}

/* line 391, ../../sass/screen.scss */
.article:hover {
  background-image: url(../images/body/cadre.png);
  background-repeat: no-repeat;
  background-position: center -10px;
}

/* line 397, ../../sass/screen.scss */
.article .price {
  color: #8e7427;
  font-size: 1.3rem;
  margin: 5px 0;
}

/* Body article promo & blog */
/* line 403, ../../sass/screen.scss */
.article-more {
  margin: 0 80px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  position: relative;
  z-index: 2;
}

/* line 412, ../../sass/screen.scss */
.blog-info {
  height: 300px;
  width: 400px;
  position: relative;
}

/* line 418, ../../sass/screen.scss */
.blog-info img {
  height: inherit;
  width: inherit;
  object-fit: contain;
}

/* line 424, ../../sass/screen.scss */
.blog-info .blog-link {
  width: 75%;
  position: absolute;
  top: 25%;
  left: 10%;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  color: #8e7427;
  font-size: 1.4rem;
  text-shadow: 1px 1px #000;
}

/* line 436, ../../sass/screen.scss */
.blog-info .blog-link button {
  margin: 20px 0;
}

/* line 440, ../../sass/screen.scss */
.article-promo {
  height: 250px;
  width: 350px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("../images/body/cadre-promo.png");
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

/* line 452, ../../sass/screen.scss */
.art-promo-col1 {
  flex: 0 0 60%;
}

/* line 456, ../../sass/screen.scss */
.art-promo-col2 {
  position: absolute;
  top: 20%;
  left: 45%;
}

/* line 462, ../../sass/screen.scss */
.art-promo-col1 .hot-deal {
  font-family: "Teko", sans-serif;
  color: #8e7427;
  text-transform: uppercase;
}

/* line 468, ../../sass/screen.scss */
.art-promo-col1 .article-desc {
  margin-top: 8px;
  color: #2f394f;
  font-family: "Teko", sans-serif;
}

/* line 474, ../../sass/screen.scss */
.art-promo-col1 .article-category {
  font-family: "Bree Serif", serif;
  color: #323232;
  text-transform: uppercase;
}

/* line 480, ../../sass/screen.scss */
.art-promo-col1 .article-price {
  margin: 15px 0;
}

/* line 484, ../../sass/screen.scss */
.art-promo-col1 .price {
  font-family: "Bree Serif", serif;
  color: #8e7427;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 5px;
  text-shadow: 1px 1px 1px black;
}

/* line 493, ../../sass/screen.scss */
.art-promo-col1 .old-price {
  font-family: "Bree Serif", serif;
  color: #4d4d4d;
  font-size: 0.8rem;
  text-decoration: line-through;
  text-transform: uppercase;
}

/* line 501, ../../sass/screen.scss */
.art-promo-col2 img {
  height: 225px;
  object-fit: contain;
}

/* Body Bottom Forest */
/* line 506, ../../sass/screen.scss */
.forest-bottom {
  display: flex;
  height: 343px;
  position: relative;
  bottom: 80px;
  background-image: url("../images/body/forest_bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

/* Footer */
/* line 517, ../../sass/screen.scss */
.footer {
  max-width: 960px;
  margin: 0 auto 120px;
  background-color: #1a222c;
  font-family: "Teko", sans-serif;
  color: #2f394f;
  position: relative;
  z-index: 0;
}

/* line 527, ../../sass/screen.scss */
.social {
  display: flex;
  margin: 0 50px;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 22px 0;
  text-transform: uppercase;
}

/* line 537, ../../sass/screen.scss */
.behind-input input {
  border-radius: 10px;
  height: 30px;
  width: 170px;
  padding-left: 10px;
  border: none;
  opacity: 0.2;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
}

/* line 548, ../../sass/screen.scss */
.news-letter,
.social-logos {
  display: flex;
  flex-direction: row;
}

/* line 554, ../../sass/screen.scss */
.news-letter h3,
.social-logos h3 {
  margin: 10px;
}

/* line 559, ../../sass/screen.scss */
.social-logos img {
  margin: 5px;
}

/* line 563, ../../sass/screen.scss */
.infos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 30px;
  font-family: "Bree Serif", serif;
}

/* line 571, ../../sass/screen.scss */
.infos h3 {
  margin: 15px 0;
  color: #fff;
}

/* line 576, ../../sass/screen.scss */
.infos li {
  font-size: 0.7rem;
}

/* line 580, ../../sass/screen.scss */
.extra-footer {
  background-color: #141a21;
  margin-top: 75px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

/* line 587, ../../sass/screen.scss */
.extra-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 60px;
}

/* line 595, ../../sass/screen.scss */
.extra-content h3 {
  justify-content: flex-start;
  margin-right: auto;
}

/* line 600, ../../sass/screen.scss */
.logo-extra-footer {
  height: 60px;
  width: 60px;
  margin: 10px;
  background-image: url("../images/footer/logo_w.png");
  background-size: 60px 60px;
}

@media screen and (min-width: 727px) and (max-width: 977px) {
  /* line 609, ../../sass/screen.scss */
  video {
    display: none;
  }

  /* line 613, ../../sass/screen.scss */
  .menu-body ul li {
    padding: 0 25px;
  }

  /* line 617, ../../sass/screen.scss */
  .article-more,
  .articles {
    margin: 50px 10px;
  }

  /* line 622, ../../sass/screen.scss */
  .article-more {
    flex-flow: column nowrap;
  }

  /* line 626, ../../sass/screen.scss */
  .article-more .blog-info {
    height: 200px;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  /* line 634, ../../sass/screen.scss */
  .blog-info .blog-link {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* line 645, ../../sass/screen.scss */
  .article-promo {
    width: 100%;
    margin: 15px auto;
    background-image: url("");
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #8e7427;
  }

  /* line 654, ../../sass/screen.scss */
  .art-promo-col2 {
    position: relative;
    top: 0;
    left: 10px;
  }

  /* line 660, ../../sass/screen.scss */
  .forest-bottom {
    bottom: 150px;
  }

  /* line 664, ../../sass/screen.scss */
  .body {
    margin: 0 auto -150px;
  }

  /* line 668, ../../sass/screen.scss */
  .social {
    margin: 0 10px;
  }

  /* line 672, ../../sass/screen.scss */
  .social p {
    display: none;
  }
}
@media screen and (min-width: 560px) and (max-width: 727px) {
  /* line 678, ../../sass/screen.scss */
  video {
    display: none;
  }

  /* line 682, ../../sass/screen.scss */
  .menu-body ul li {
    padding: 0 15px;
  }

  /* line 686, ../../sass/screen.scss */
  .article-more,
  .articles {
    margin: 50px 10px;
  }

  /* line 691, ../../sass/screen.scss */
  .forest-bottom {
    bottom: 180px;
  }

  /* line 695, ../../sass/screen.scss */
  .body {
    margin: 0 auto -180px;
  }

  /* line 699, ../../sass/screen.scss */
  .social {
    margin: 0 50px;
  }

  /* line 703, ../../sass/screen.scss */
  .social p {
    display: none;
  }

  /* line 707, ../../sass/screen.scss */
  .behind-input input {
    width: 130px;
  }
}
@media screen and (min-width: 320px) and (max-width: 560px) {
  /* line 713, ../../sass/screen.scss */
  video {
    display: none;
  }

  /* line 717, ../../sass/screen.scss */
  .header-background h1 {
    font-size: 3rem;
  }

  /* line 721, ../../sass/screen.scss */
  .menu-body ul li {
    padding: 0 28px;
    margin: 10px auto;
  }

  /* line 726, ../../sass/screen.scss */
  .nav-mobile-btn {
    display: flex;
  }

  /* line 731, ../../sass/screen.scss */
  .nav-mobile-btn.open span:nth-child(1) {
    transform: translateY(14px) rotate(135deg);
    transition: 0.5s ease-in-out;
  }

  /* line 736, ../../sass/screen.scss */
  .nav-mobile-btn.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-25px);
    transition: 0.5s ease-in-out;
  }

  /* line 742, ../../sass/screen.scss */
  .nav-mobile-btn.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-135deg);
    transition: 0.5s ease-in-out;
  }

  /* line 747, ../../sass/screen.scss */
  .nav-mobile-toggle {
    display: block;
    animation: toggleNav 500ms alternate 1 ease-in-out;
  }

  @keyframes toggleNav {
    0% {
      transform: translateY(-220px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  /* line 761, ../../sass/screen.scss */
  .nav {
    background-image: url("");
  }

  /* line 765, ../../sass/screen.scss */
  .nav ul {
    display: none;
  }

  /* line 769, ../../sass/screen.scss */
  .article-more,
  .articles {
    margin: 50px 5px;
  }

  /* line 774, ../../sass/screen.scss */
  .blog-info {
    height: 200px;
    width: 300px;
  }

  /* line 779, ../../sass/screen.scss */
  .art-promo-col2 {
    left: 55%;
  }

  /* line 783, ../../sass/screen.scss */
  .art-promo-col2 img {
    height: 155px;
  }

  /* line 787, ../../sass/screen.scss */
  .article-promo {
    margin: 15px auto;
    background-image: url("");
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #8e7427;
  }

  /* line 795, ../../sass/screen.scss */
  .forest-bottom {
    bottom: 180px;
  }

  /* line 799, ../../sass/screen.scss */
  .body {
    margin: 0 auto -180px;
  }

  /* line 803, ../../sass/screen.scss */
  .social {
    margin: 0 10px;
  }

  /* line 807, ../../sass/screen.scss */
  .social p {
    display: none;
  }

  /* line 811, ../../sass/screen.scss */
  .behind-input input {
    width: 130px;
  }

  /* line 815, ../../sass/screen.scss */
  .infos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    font-family: "Bree Serif", serif;
    width: 70%;
    margin: 0 auto;
  }

  /* line 826, ../../sass/screen.scss */
  .extra-content {
    margin: 0 10px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }

  /* line 833, ../../sass/screen.scss */
  .extra-content h3 {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 5px;
  }

  /* line 839, ../../sass/screen.scss */
  .infos h3 {
    width: 125px;
  }
}
